<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .form-up{
            font-size: larger;
           
            
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>
<body>
       <h1>SignUp</h1>
       <form action="/user" method="POST">
        <label>Name:</label>
        <input type="text" required name='name' placeholder="Enter your name" />

        <label>Email:</label>
        <input type="email" required name="email" placeholder="Enter your email" />

        <label>Password:</label>
        <input type="password" required name="password" placeholder="Enter your password" />

        <button type="submit">Sign Up</button>

       </form>
    
    
</body>
</html>