<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>serving static file</title>
    <Link href="../css/style.css" rel="stylesheet">
</head>
<body>


    <div class="card">
        <h2>Welcome to Demo API</h2>
        <p>This is a demo user Api built using Express js and json file as a data source</p>
        <p>This is a simple demo Html page to demo serving static files</p>
    </div>
    
    
</body>
</html>